<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OAuth System</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/">Homepage</a></li>
      </ul>
    </nav>
    <header>
      <h1>OAuth System</h1>
      <h3>Homepage</h3>
    </header>

  </body>
</html>
